body {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: "Verdana";
    color: whitesmoke;
    background-color: black;
}

#main-menu {
padding: 5% 10%;
display: flex;
flex-direction: column;
align-items: center;
}

#settings-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
  }
  

#game-screen {
display: none;
flex-direction: row;
width: 100%;
height: 100vh;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url('../images/battlefield.png');
}

#viking-selector {
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/viking-ship-in-water.png');
}

.viking-select {
    position: absolute;
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

#viking-one-select {
    top: 260px;
    left: 550px;
    background-image: url('../images/Viking1.png');
}

#viking-two-select {
    top: 260px;
    left: 650px;
    background-image: url('../images/Viking2.png');
}

#viking-three-select {
    top: 260px;
    left: 750px;
    background-image: url('../images/Viking3.png');
}

#viking-four-select {
    top: 260px;
    left: 850px;
    background-image: url('../images/Viking4.png');
}

#viking-five-select {
    top: 340px;
    left: 550px;
    background-image: url('../images/Viking5.png');
}

#viking-six-select {
    top: 340px;
    left: 650px;
    background-image: url('../images/Viking6.png');
}

#viking-seven-select {
    top: 340px;
    left: 750px;
    background-image: url('../images/Viking7.png');
}

#viking-eight-select {
    top: 340px;
    left: 850px;
    background-image: url('../images/Viking8.png');
}

#kraken-select {
    top: 200px;
    left: 350px;
    opacity: 0.2;
    background-image: url('../images/KrakenTentacle.png');
}

#difficulty-selector {
    display: none;
}


#game-end {
display: none;
flex-direction: column;
align-items: center;
}


#main-menu p {
font-size: 14px;
}

#battle-ground {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
}

#turns {
    position: absolute;
    width: 70px;
    height: 20px;
    top: 10px;
    left: 700px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#turn-text {
    color: black;
    font-weight: bold;
}


#viking-one {
    top: 50px;
    left: 350px;
}

#viking-two {
    top: 250px;
    left: 350px;
}

#viking-three {
    top: 450px;
    left: 350px;
}

#viking-four {
    top: 650px;
    left: 350px;
}


#saxon-one {
    top: 50px;
    left: 950px;
    background-image: url('../images/Saxon1.png');
}

#saxon-two {
    top: 250px;
    left: 950px;
    background-image: url('../images/Saxon2.png');
}

#saxon-three {
    top: 450px;
    left: 950px;
    background-image: url('../images/Saxon3.png');
}

#saxon-four {
    top: 650px;
    left: 950px;
    background-image: url('../images/Saxon4.png');
}

.logo-img {
width: 350px;
margin: 20px;
}

.viking,
.saxon {
  position: absolute;
  transition: top 0.3s ease-in-out, left 0.3s ease-in-out;
}

.viking {
    position: absolute;
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.saxon {
    position: absolute;
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.viking-active {
    outline: none;
    box-shadow: 0 0 15px 4px gold;
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .saxon-targetable {
    outline: none;
    box-shadow: 0 0 15px 4px crimson;
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out;
  }
  

body button {
font-size: 30px;
background-color: #7d6716;
color: #fff;
padding: 20px 40px;
border: 0;
box-shadow: 0;
border-radius: 5px;
margin-bottom: 20px;
}

